APP_NAME=ChunkVault
APP_ENV=development

DATABASE_URL=postgresql+psycopg://chunkvault_user:chunkvault_password@localhost:5432/chunkvault

CHUNK_SIZE_MB=4
MAX_UPLOAD_MB=250

B2_ENDPOINT_URL=https://s3.us-west-004.backblazeb2.com
B2_REGION=us-west-004
B2_BUCKET=chunkvault-storage
B2_KEY_ID=replace_later
B2_APPLICATION_KEY=replace_later

MASTER_ENCRYPTION_KEY_BASE64=replace_later
JWT_SECRET_KEY=change_this_secret